POSTGRES_USER=postgres
POSTGRES_PASSWORD=567234
POSTGRES_DB=hw04
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# (DEBUG, INFO, WARNING, ERROR)
# LOG_LEVEL=INFO
LOG_LEVEL=DEBUG